body{
    margin: 0;
    padding: 0px;
    width: 1350px;
    height: 2000px;
}
header{
    height: 330;
    /*height: 60px;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, #000000 100%);*/
    display: flex;
    height: 100px;

}
.menu{
    background-color: transparent;
    /*left: 280px;*/
    margin-top: 20px;
    padding-top: 30px;
    right: 200px;
    top: 0;
    /*z-index: 1030;*/
    height: 40px; 
    /*width: 680px;*/
 
    
}
.header-menu{
    padding: 50px;
   
    left: 0;
    width: 90px;
    height: 0px;   
   background-color: transparent;
 
}
#encabezado{

justify-content: space-between;
align-content: flex-start;
align-items: center;
width: 1100px;
    border-bottom: lightgray;
    /*position: fixed;
    z-index: 90; */ 
/*background-image: linear-gradient(0deg, rgba(225,255,255,0.00) 0%, #000000 100%);*/
}


.concurso{
   width: 70px;
    height: 10px;
   margin-top: 10px;
   /*padding-top: ;*/
    background-color: transparent;
   
 
}

#container{
  
    margin: 0 auto;
    width: 1100px;
    margin: 0 auto;
    padding: 3px 15px;
    max-width: 1350px;
    min-width: 0;
    padding: 30px 0 0;
    width: 95%;
    
    margin-right: auto;
    margin-left: auto;
    display:block;
    
        
    
    
    
}

div#container{
    height: 125px;  
   
}
#searchsubmit {
    background: url(/img/home2010/login/botonentrar.jpg) no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #4f4f4f;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 13px;
    height: 29px;
    margin-right: 8px;
    padding-bottom: 6px;
    text-shadow: -1px -1px 0 #f0f0f0;
    width: 102px;
}
.btn-default {
    color: white;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    background-color: #9abb4f
 
}
.barra-search #searchsubmit, .form-submit input[type=submit], header .search-header .btn-default {
    background-color: limegreen;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    color: #fff;
    font-size: inherit;
    height: auto;
    padding-bottom: 7px;
    padding-top: 7px;
    text-shadow: none;
    text-transform: uppercase;
    width: auto;
    margin-right: 0;
    
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.texto-buscar{
    margin-top: 10px;
   
   
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1.1em;
    cursor: default;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 150px;
    margin-top: 18px;
    
}
.buscador{
    width: 340px;
    margin-top: 60px;
    margin-right:20px;
    display: flex;
   
}


.form-control {
    color: #3a3422;
    font-size: 14px;
    display: block;
    width: 200px;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
   
}
 .form-control {
    display: inline-block;
     width: auto;
    vertical-align: middle;
     margin-left: 260px;
     margin-top: -45px;
}
.select {
    height: 34px;
    
    
}
      
#barra-navegacion{
left: 0px;
 width:100%;
height: 70px;
background-color: black;
 display:flex;
margin-top: 2px;
    
}

  /*.menu{
       height: 30px;
      display: flex;
      justify-content: center;
    }*/

 .menu>ul>li{
    display: inline-block;
    
}

 .menu li a{
    text-decoration: none;
    color: black;
}
.menu>ul>li>a{
    color: #444;
    font-family: PlutoSans-Light;
    font-size: 14px;
    font-weight: 40px;
    letter-spacing: 1px;
    padding-left: 0;
    padding-right: 25px;
    padding: 10px;
    transition: 0.2s;
}

#nota-impotante{
    margin: 0;
    height: 362px;
}

.secciones-main article {
    margin-right: 0;
    padding: 0 10px 0 0;
}
@media (min-width: 992px)
.col-md-4 {
    width: 33.33333%;
}
@media (min-width: 992px)
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}

@media (min-width: 768px)
.col-sm-4 {
    width: 33.33333%;
}
.description-title{
        display: block;
    min-height: 50px;
        
        margin-top: 50px;
}


.notas-secundarias{
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 30px;
    margin-top: 10px;
    overflow: hidden;
    padding-bottom: 30px;
    margin-top: 25px;
    margin-left:50px;  
}

.description-title {
    margin: 10px 0 15px;
    position: relative;
    text-align: center;
    display: block;
    
    
    
}

    .description-title::before {
    background: none repeat scroll 0 0 #e1e1e1;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    box-sizing: border-box;
        
}

.description-title:after {
     box-sizing: border-box; 
}

.title{
    /*display: block;*/
    position: relative;
    
}
.post-content-main{
    margin-top: 26px;
}
.txt-post{
    width: 390px;
}

a {
    color: #9abb4f;
    text-decoration: none;
    background-color: transparent;
}
.notas-secundarias{
    width: 1200px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
  
}
.col-md-4 {
 width: 33.33333%;
}

.title .description-title h3 {
    background: none repeat scroll 0 0 #fff;
    color: #444;
    display: inline-block;
    font-family: OpenSans-Regular;
    font-size: 15px;
    margin: 0!important;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    z-index: 50;
}
#main .title h3 {
    background-color: #fff;
    color: #444;
    display: block;
    font-family: OpenSans-Semibold;
    font-size: 15px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: OpenSans-Semibold;
    line-height: 1.3;
    margin-top: 20px;
}
.h3, h3 {
    font-size: 24px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 10px;
}

.btn_transparente:hover {
    background-color: #9abb4f;
    border: 1px solid #9abb4f;
    color: #fff;
}
.btn_transparente {
    background-color: transparent;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    color: #9abb4f;
    display: inline-block;
    font-family: OpenSans-Semibold;
    padding: 8px 20px;
    text-transform: uppercase;
}

.col-md-4 col-sm-4 col-xs-12 article{
    height: 100px;
    display: flex;
    background-repeat: no-repeat;      
}
.text-center {
    text-align: center;
}


#seccion-principal-noticias .col-md-8 {
    padding: 0;
    width: 70%;
   
}
.seccion-principal-noticias .col-sm-8 {
    width: 71%;
     
}
.col-md-8 {
    width: 66.66667%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.main-articles{
     display: flex;
    width: 840px;
    height: 360px;
    margin-left: 50px;
   
}

.title_caja {
    font-family: OpenSans-Regular;
    font-size: 18px;
    padding-left: 15px;
    display: block;
    margin-top: 10px;
    
}
.cajas h4 {
    font-family: OpenSans-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.52857;
    margin: 0 0 10px;
}
.cajas h4, .cajas p {
    padding-left: 15px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: inherit;
}
*, :after, :before {
     box-sizing: border-box; 
}
*, :after, :before {
    box-sizing: border-box;
    box-sizing: border-box;
}
h4 {
    display: block;
    margin-right: 1.33em;
    margin-left: 1.33em;
   margin-top: 0px;
   margin-bottom: 0px;
    font-weight: bold;
}
#seccion-principal-noticias{
    height: 1200px;
    
}

/*a {
    color: #9abb4f;
    text-decoration: none;
}*/
.img-article-post h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

#proyectos-main{
    display: block;
    width: 900px;
}
.h2{
    margin-left: 50px;
    font-family:  OpenSans-Semibold;;
    color: black;
}

.h2, h2 {
    font-size: 25px;
    line-height: 1.3;
    margin-top: 20px;
}

.sombra-imagen{
    box-shadow:  box-shadow: 0px 0px 5px grey;
}

#libros-publicados{
    display: flex;
}

#libros-publicados img {
   width: 100%;
    /* width: 180px;
    height: 265px;
    justify-content: space-between;
    margin-bottom: 20px;*/
}
/*
img {
    vertical-align: middle;
    border: 0; 
}*/

libros-publicados .title_caja {
    font-size: 16px;
    padding-left: 0;
}
a:hover {
    color: #999;
    text-decoration: none;
        outline: 0;
}
.title_caja {
    font-family: OpenSans-Semibold;
    font-size: 18px;
    padding-left: 15px;
    display: block;
    margin-top: 10px;
}


.libros-destacados {
    margin-top: 30px;
    overflow: hidden;
}
.item-libro-destacado{
    display: block;
    width: 350px;
    
}
.title {
    position: relative;
    display: block;
}




.description-title::before,.description-title::after{
    content: "";
    border-top: 1px double lightgray;
    display: block;
    position: absolute;
    height: 1px;
    width: 350px;
    top: 15px;
    justify-content: space-between;
}

.description-title::before{
    left: 0px;
}

.desciption-title::after{
    right: 0px;  
}


.portada-libro-destacado {
    height: 135px;
    overflow: hidden;
}


.portada-libro-destacado img {
    width: 347px;;
}
img {
    vertical-align: middle;
    border: 0;
}
.portado-libro-destacado a{
    width: 347px;
    padding: 0;
}






























   


